@media only screen and (max-width: 1200px){    /* Landscape mode */
    .hero-text-box {
            width: 100%;
            padding: 0 2%;
    }
    
    .row {  padding: 0 2%; }
    
    
} 

@media only screen and (max-width: 1023px){    /* Large Phones/Tablets   */
    
    body{ font-size: 14px; }
    
    section { 60px 0;}
    
    .long-copy{
        width: 80%;
        margin-left: 10%;   
    }
    
    .steps-box:x{ margin-top: 10px;}
    .steps-box:last-child{  margin-top: 40px;   }
    .works-step{ margin-bottom: 40px;}
    .works:last-of-type{ margin-bottom: 60px; }
    .app-screen{width: 50%;}
    .icon-small  { width: 20px; }
    

    .plan-box{
        width: 100%;
        margin-left: 0;
    }
    
    .contact-form { width:80%;    }



} 


@media only screen and (max-width: 767px){    /* Average sized Phones   */
    section {padding: 30px 0;}
    
    .row,
    .hero-text-box{ padding: 0 4%}
    .col{
        width: 100%;
        margin: 0 0 4% 0;
    }
    .main-nav{display: none;}
    h1{    font-size: 180%;    }
    h2{ font-size: 150% }
    
    .works{ margin-bottom: 30px;}
    .works:last-of-type{ margin-bottom: 40px; }
    .works p{padding-top: 7px;}
    
    .steps-box:first-child{
        text-align: center;
    }
    
    .app-screen{width: 40%;}
    
    
    .works div{
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 130%;
    }
    
    .long-copy{
        width: 100%;
        margin-left: 0;   
    }
    
    .buttons{ padding-top: 20px; text-align: center;}
    
    
} 



@media only screen and (max-width: 480px){    /* Small Phones   */
    
    section{ padding: 25px 0;}
    .contact-form{ width: 100%; }

} 